
@media screen and (max-width: 480px) {
    #timer-box{
        transform: rotate(90deg);
    }

    #timer-display h1{
        max-width: 226px;
        max-height: 226px;
        display: flex;
        font-size: 176px;
        padding: 1rem;
    }

}

@media screen and (min-width: 480px) and (max-width: 768px) {

    #timer-display h1{
        max-width: 226px;
        max-height: 226px;
        font-size: 186px;
    }

}
