* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: #080a11;
    color: #deeeff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.realTime{
    /* background: red; */
    display: flex;
    justify-content: end;
    user-select: none;
    /* width: fit-content; */
}

.realTime p{
    padding: .4rem;
    font-size: 18px;
    font-weight: 700;
    /* background: green; */
    border-radius: 4px;
}
#timer-display {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

#timer-display h1 {
    font-family: 'Bebas', sans-serif;
    font-size: 256px;
    background: #151a23;
    padding: 1rem 1rem 2rem 1rem;
    border-radius: .8rem;
    user-select: none;
    width: 296px;
    line-height: 256px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1rem 0;
    flex-wrap: wrap;
}

.btns button {
    background: #151a23;
    padding: .5rem 2rem;
    color: #fff;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    user-select: none;
}

.btns button:active {
    background: #006adc;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #151a23c1;
    align-items: center;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    justify-content: center;
}

.modal-content {
    background-color: #080a11;
    margin: 0 1rem;
    border: 2px solid #242a3d;
    width: 90%;
    max-width: 656px;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 1rem;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.modal-content h2 {
    position: sticky;
    top: 0;
    background: #151a23;
    padding: .5rem 1rem;
}

.modal-content::-webkit-scrollbar {
    width: 0;
}

.modal-content::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.content-box {
    padding: 1rem 1.5rem;
}

ol {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

ol li {
    background: #151a23;
    padding: .8rem 1rem;
    border-radius: .3rem;
    border: 1px solid #242a3d;
    list-style: none;
}

.content-box button {
    background-color: #0284c7;
    color: #fff;
    font-weight: 800;
    padding: .5rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

#close-modal-button:hover {
    background-color: #0ea5e9;
}

#clear-modal-button {
    background-color: #e11d48;
}

#clear-modal-button:hover {
    background-color: #f43f5e;
}

